## Titanic

### Import Modules:

In [14]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Detect OS

In [15]:
import platform 
if platform.system() == "Windows":
    file_path = r"C:\Users\maxcl\Desktop"
if platform.system() == "Darwin":
    file_path = r"\Users\maxclabus\Desktop"

In [16]:
'{}\Data Science\DataScience\Analysis Training\CsvFiles\titanic_train.csv'.format(file_path)

'C:\\Users\\maxcl\\Desktop\\Data Science\\DataScience\\Analysis Training\\CsvFiles\titanic_train.csv'

### Import Data:

In [17]:
titanic_data = pd.read_csv('{}\Data Science\DataScience\Analysis Training\CsvFiles\titanic_train.csv'.format(file_path))
titanic_data_test = pd.read_csv('{}\Data Science\DataScience\Analysis Training\CsvFiles\titanic_test.csv'.format(file_path))

FileNotFoundError: [Errno 2] File C:\Users\maxcl\Desktop\Data Science\DataScience\Analysis Training\CsvFiles	itanic_train.csv does not exist: 'C:\\Users\\maxcl\\Desktop\\Data Science\\DataScience\\Analysis Training\\CsvFiles\titanic_train.csv'

In [10]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Proceed Data:

In [74]:
X = pd.get_dummies(titanic_data.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis = 1)).fillna(X.Age.median())
Y = titanic_data.Survived

In [75]:
X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

### Machine Learn:

In [76]:
clf = tree.DecisionTreeClassifier()

In [77]:
clf.fit(X,Y)

DecisionTreeClassifier()

In [78]:
X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [79]:
clf.score(X, Y)

0.9820426487093153