In [1]:
import pandas as pd

In [6]:
a = pd.DataFrame({'type':['A', 'A', 'B', 'B'], 'value':[10, 14, 12, 23]})

In [7]:
a

  type  value
0    A     10
1    A     14
2    B     12
3    B     23